<div>
        <form name="register" ng-submit="register()">
            <div class="form-group">
            <label for="email">FirstName:</label>
            <input type="text" class="form-control" name="fname" id="fname" ng-model="userRegisterData.fname" required>
            </div>
            <div class="form-group">
            <label for="email">LastName:</label>
            <input type="text" class="form-control" name="lname" id="lname" ng-model="userRegisterData.lname" required>
            </div>
            <div class="form-group">
            <label for="email">Email address:</label>
            <input type="email" class="form-control" name="email" id="email" ng-model="userRegisterData.email" required>
            </div>
            <div class="form-group">
            <label for="email">Password:</label>
            <input type="password" class="form-control"  name="password" id="password" ng-model="userRegisterData.password" required>
            </div>
            <button type="submit" class="btn btn-default">Register</button>
        </form>
    </div>